.Low {
  color: rgb(180, 6, 6);
  font-size: 0.8rem;
}
.Medium-low {
  color: rgb(148, 148, 5);
  font-size: 0.8rem;
}

.Medium-high {
  color: rgb(2, 77, 2);
  font-size: 0.8rem;
}

.High {
  color: rgb(3, 167, 3);
  font-size: 0.8rem;
}
