@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.containerGlobal {
  width: 100%;
  /* height: 500px; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--background);
}
.containerArticulos {
  position: relative;
  width: 40%;
  /* height: 150px; */
  height: fit-content;
  padding: 70px;
  /* border: 1px solid red; */
}
.checkout {
  padding: 0.7rem 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent1);
  border: 0px;
  border-radius: 5px;
  color: var(--background);
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
  transition: 400ms ease-in-out;
}
.textBalance{
  color: forestgreen;
}
.btnBalance{
  padding: 0.7rem 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent1);
  border: 0px;
  border-radius: 5px;
  color: var(--background);
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
  transition: 400ms ease-in-out;
}
.btnBalance:hover {
  color: var(--text);
  background: var(--gradient);
  transition: 400ms ease-in-out;
  cursor: pointer;
}
.checkout:hover {
  color: var(--text);
  background: var(--gradient);
  transition: 400ms ease-in-out;
  cursor: pointer;
}
.errorBalance{
  color: brown;
}
.continuarComprando {
  display: flex;
  align-items: start;
  flex-direction: row;
  margin: 0px 0px 20px 0px;
}
.continuarComprando > a {
  text-decoration: none;
}
.textArticulo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.txtCarrito {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: bold;
  margin-top: 1rem;
}
.cantCart {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 500;
}
.detallesCompra {
  width: 60%;
}

.articulo {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 50%;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-radius: 15px;
  background-color: var(--accent2);
  margin-top: 1.5rem;
}
.imagenArticulo img {
  width: 5rem;
  border-radius: 5px;
  margin-left: 1.5rem;
}

.detallesArticulo {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.nameProduct {
  font-size: 12px;
  margin-bottom: 3%;
  font-family: "Poppins";
}
.descriptionProduct {
  font-size: 9px;
  font-family: "Nunito";
  width: 15rem;
  text-align: left;
}
.btnupdown {
  display: flex;
  flex-direction: column;
}
.precio {
  font-family: "Poppins";
  font-size: small;
  width: 3rem;
}
.cantidad {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* background-color: red; */
}
.btnCart {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btnCart:disabled {
  cursor: auto;
  color: transparent;
}
.btnDelete {
  height: 25px;
  width: 25px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../assets/images/delete_forever_FILL0_wght400_GRAD0_opsz48.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.7;
}
.cantidadProduct {
  padding: 5px;
}
.cantidad label {
  margin-right: 20%;
}
.detallesCompra {
  margin-top: 3rem;
  height: 28rem;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--accent2);
  width: 20rem;
  margin: 30px;
}
.botonesArticulo {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
