.navBar{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #FBF4F5;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  z-index: 4;
  text-decoration: none;
}
.check{
  display: none;
}
.navBar a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  left: 0;
}
.mostrarmenu,
.ocultarmenu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.mostrarmenu{
  order: 1;
}

.botones{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  margin-right: 15px;
}
.navBar img{
  width: 10rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}



* {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: var(--text);
  overflow: hidden;
}

.LogInBtn {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent1);
  color: var(--background);
  transition: 200ms;
  border: 0px;
  padding: 10px 35px 10px 35px;
  justify-content: center;
  border-radius: 10px;
}
.LogInBtn:hover {
  background: var(--gradient);
  color: var(--text);
  border: 0px;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
}

.myProfile {
  background-color: transparent;
  color: var(--text);
  transition: 200ms;
  border: 0px;
  padding: 10px 35px 10px 35px;
  justify-content: center;
  cursor: pointer;
}

.myProfile:hover {
  background-color: var(--accent2);
  color: var(--text);
  border: 0px;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
}

@media(max-width: 818px){
  .mostrarmenu,
  .ocultarmenu{
  display: block;
}
.mostrarmenu{
  position: absolute; top: 20px; right: 20px;
}
.navBar img{
  position: absolute;
  top: 10px;
  left: 1px;
  width: 8rem;
  margin-left: 15px;
}
.botones{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--background);
  right: -100%;
  top: 0;
  text-align: center;
  z-index: 100;
  transition: 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 5%;
}
.ocultarmenu{
  position: absolute; top: 20px; right: 20px;
}
.check:checked ~ .botones{
  right: -15px;
}
}