.cardProfessional{
  position: relative;
  height: 250px;
  width: 500px;
  margin: auto;
}

.image{
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 20;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top;
  /* box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.54); */
}

.containerInfo{
  position: absolute;
  top: 20px;
  right: 15px;
  height: 180px;
  width: 350px;
  padding: 10px;
  background-color: var(--accent2);
  box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.54);
}

.fullname{
  position: absolute;
  left: 95px;
  top: 20px;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.direction{
  position: absolute;
  left: 96px;
  top: 60px;
  color: rgb(133, 128, 128);
}

.service{
  position: absolute;
  left: 95px;
  top: 90px;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 900;
}
.containerInfo::after{
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: var(--accent1);
  bottom: 10px;
  right: 10px;
}
.containerInfo::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  background-color: var(--accent1);
  bottom: 10px;
  right: 10px;
}