.Container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.QuienesSomos {
  margin-top: 15rem;
  border-radius: 112px;
  background: #fef2f4;
  margin-bottom: 30px;
  box-shadow: 23px 23px 33px #938c8e, -23px -23px 33px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  padding: 1rem 1rem 2rem 1rem;
}
.QuienesSomos p {
  color: var(--text);
  font-size: 600%;
}
.QuienesSomos :nth-child(2) {
  color: var(--text);
  font-size: large;
  width: 50%;
  margin-top: 3%;
}
.QuienesSomos :nth-child(2)::before {
  content: "Beautify";
  background-color: var(--accent1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
}
