.container {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.plus {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: transparent;
  z-index: 1;
}
.iconButton div {
  background-color: var(--accent1);
  position: absolute;
  filter: blur(15px);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.aux {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
