.App {
  text-align: center;
  font-family: "Playfair Display", serif;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

/* si cambias esto no se ve el mapita */
.leaflet-container {
  width: 50vw;
  height: 50vh;
}
