*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    width: 100%;
    height: auto;
    background-color: var(--bg-card) ;
    border-radius:8px ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    color:var(--text)
  }
  .topRating{
    display:flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    border-bottom: solid 1px rgb(0,0,0,0.1);
    margin-bottom: 0.5rem;
    background-color:#f5b7b1 ;
  color:var(--accent3);
  }
  .product {
    display: grid;
    grid-template-columns:auto 1fr auto;
    margin-bottom: 10px;
    justify-content: stretch;
    gap:0.5rem;
    height: 100%;
    padding: 0 0.5rem;
    width:100%
  }
  
  .productImage {
    display:grid;
    place-items:center;
    justify-content:center;
    margin-right: 1px;
    clip-path: circle(40% at 50% 50%);
  }
  
  .productImage img {
    width: 50px;
    height: 50px;
  }
  
  .productInfo {
    display:grid;
    place-items:center;
    justify-content:center;
    white-space: nowrap;
  overflow:hidden
  }
  .productName{
    font-weight: lighter;
    text-align:start;
    white-space: nowrap;
  
  }

  
  .chartContainer {
    display: flex;
    flex-direction: column;
  }
  
  .circle {
    fill: none;
    stroke: #ccc;
    stroke-width: 3.8;
    stroke-linecap: round;
  }
  
  .circleProgress {
    fill: none;
    stroke: #f5b7;
    stroke-width: 3.8;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation: progress 1s ease-out forwards;
  }
  .percentage {
    font-weight: bold;
    font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
      
    }
  }
  