.overlay {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.Container {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background);
  padding-top: 5px;
  padding-bottom: 5px;
}

.textContainer {
  display: flex;
  flex-direction: column;

  margin-right: 25px;
  margin-left: 25px;
  /* background-color: red; */
}

.emailContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.emailTitle {
  text-align: left;
}

.emailPropertys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.namePropertys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.propertys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.propertysContainer {
  display: block;
}

.Container img {
  /* width: 250px;
  height: 250px; */
  align-self: center;
  overflow: hidden;
  position: absolute;
  height: 15em;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  border-radius: 15px;
  z-index: -10;
}

.imageContainer {
  position: relative;
  align-self: center;
  width: 140px;
  height: 200px;
  border-radius: 15px;
  z-index: -10;
}

/* .imageContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 30px;
  position: relative;
  border: 1px solid black;
  min-height: 50vh;
} */
/* .imageContainer > .image {
  position: absolute;
  height: 15em;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
} */

/* .image {
  margin-bottom: 300px;
} */

.dragContainer {
  border: 1px dotted black;
  width: 98%;
  height: 98%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.updateImageButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeDetailButton {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  margin: 5px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
}
.closeDetailButton:hover {
  background-color: var(--accent2);
  cursor: pointer;
  border-radius: 3px;
}
.editBtn {
  background-color: red;
}

.closeImageButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
}

.inputs {
  justify-self: center;
}

input {
  margin-top: 2%;
  height: 2rem;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  border: 2px solid var(--text-alt);
  border-radius: 10px;
}

.name {
  color: var(--accent1);
}

.button {
  background-color: transparent;
  color: var(--text);
  transition: 200ms;
  border: 0px;
  padding: 10px 35px 10px 35px;
  justify-content: center;
  align-self: center;
  margin: 5px;
  font-size: medium;
}

.button:hover {
  background-color: var(--accent2);
  color: var(--text);
  border: 0px;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
}

.importantButton {
  margin-bottom: 5%;
  width: 50%;
  align-self: center;
  background-color: var(--accent1);
  border: 0px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  transition: 200ms;
  color: var(--background);
}
.importantButton:hover {
  background: linear-gradient(90deg, var(--accent1) 0%, var(--accent2) 100%);
  color: #fef2f4;
}

h4 {
  font-size: medium;
  margin: 10px;
  color: var(--accent1);
}

h3 {
  font-size: medium;
}
