
*{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color:var(--text);
    overflow: hidden;
}

.Container{
    background-color: transparent;
    color: var(--text);
    transition:200ms;
    border:0px;
    padding: 10px 35px 10px 35px;
    justify-content: center;
}
.Container:hover{
    background-color: var(--accent2);
    color:var(--text);
    border:0px;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
}
.Current{
    background-color: var(--accent2);
    color:var(--text);
    border:0px;
    padding: 10px 35px 10px 35px;
    justify-content: center;
    border-radius: 10px;
}