.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:30%; */
    /* transition: 1.5s;     */
    background-color: var(--accent2);
    padding: 1rem;
    border-radius: 10px;
    margin:1rem;
    position: inherit;
}
.Container img{
    height: 30rem;
    width: 30rem;
    border-radius: 10px ;
}
.Container p{
    z-index: 5;
    position: relative;
    margin:0.5rem
}
.overlay{
    background-color: rgba(0, 0, 0, 0.514);
    /* background-color: red; */
    position:absolute;
    width:100%;
    height: 100%;
    filter: blur(60px);
}
.noBlur {
    color:aliceblue;
    z-index: 7;
}
.splide__arrow{
    z-index: 60;
    background-color: red;
}