.container {
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem 1rem 1rem 3.5rem;
   
    /* border: 1px solid red; */
}

