.container {
  width: fit-content;
  height: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}
.container :global .MuiDataGrid-columnHeaders {
  background-color: var(--accent1);
}
.container :global .MuiDataGrid-columnHeaderTitle {
  font-weight: bolder;
}
.container :global .MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: #f5b7b133;
  cursor: pointer;
}
