*{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color:var(--text)
}

.Container{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--accent1);
    color: var(--background);
    transition:200ms;
    border:0px;
    padding: 10px 35px 10px 35px;
    justify-content: center;
    border-radius: 10px ;
<<<<<<< HEAD
    cursor:pointer;
    font-size:1rem;
}
a {
    text-decoration: none;
=======

>>>>>>> d3ecc656943a109e3a90a35cad270ab0a122f23d
}
.Container:hover{
    /* background: var(--gradient); */
    color:var(--text);
    border:0px;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
}
.Current{
    background-color: var(--accent2);
    color:var(--background);
    border:0px;
    padding: 10px 35px 10px 35px;
    justify-content: center;
    border-radius: 10px;
}
.cart{
    margin-left: 5px;

}
