.section{
    background-color: #FBF4F5;
    padding: 40px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: -1px -2px 14px 2px rgba(130,127,127,0.75);
    -webkit-box-shadow: -1px -2px 14px 2px rgba(130,127,127,0.75);
    -moz-box-shadow: -1px -2px 14px 2px rgba(130,127,127,0.75);
    width: fit-content;
    height: fit-content;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.containerLeft, .containerRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
}
.titleServices{
    text-align: center;
    width: 100%;
    font-size: 30px;
    padding-bottom: 30px;
}
.inputRadio{
    align-self: center;
    border: 1px solid #F5B7B1;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.inputRadio::before{
    content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #F5B7B1;
  background-color: #F5B7B1;
}
.inputRadio:checked::before {
    background-color: #7c6b6f;
    border-color: #F5B7B1;
  }
.inputRadio:disabled::before {
    background-color: #d3d3de;
    border-color: #d3d3de;
  }

.serviceContainerInput{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    margin: 5px;
}
.labelServices{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
}

.containerCalendar{
    width: 600px;
    height: fit-content;
}



.buttonReservation{
    background-color: #D14D72;
    color: #FBF4F5;
    padding: 20px;
    border: none;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    cursor: pointer;
}
.buttonReservation:disabled{
    display: none;
}