@import url("https://fonts.googleapis.com/css?family=Poppins");
.containerGlobal{
    display: flex;
    flex-direction: row;
}

.formCreateProduct{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
}

.containerInputs{
    display: flex;
    margin: 10px;
    width: 100%;
}
.continerlabel{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btnCreate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    align-items: center;
    margin-top: 3%;
}
.priceAndStock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
.btnCreate button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 40px;
    background-color: var(--accent2);
    border-radius: 5px;
    color: var(--text);
    font-family: 'Poppins';
    border: 0px;
    font-weight: 900;
    padding: 15px;
}
.btnCreate button:hover{
    background-color: var(--accent1);
    border-radius: 5px;
    color: var(--background);
    border: 0px;
    font-family: 'Poppins';
    font-weight: 900;
}
.preview{
    display: flex;
    align-items: center;
    padding: 30px;
}
.containerImg{
    width: 20rem;
    height: 30rem;
    border: 1px;
    border-style: dotted;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 1100px) {
    .containerGlobal{
        display: flex;
        flex-direction: column;
    }
    
}