.input{
    background-color: var(--accent2);
    border: none;
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.input:hover,
.buttonSubmit:hover,
.buttonReset:hover{
    cursor: pointer;
}
.buttonSubmit{
    background-color: #EE9890;
    border: none;
    font-weight: 500;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttonReset{
    margin: 10px;
    background-color: #EE9890;
    border: none;
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
}