.Container{
    /* border:1px solid green; */
     padding:0px;
    width:100%;
    overflow: hidden;
}

.buttonPages{
    padding: 3px 8px;
    background-color: var(--accent2);
    border-radius: 8px;
    border: none;
    margin: 1px;
    padding:0.4rem 0.8rem;
    margin:0 3px
}
.buttonPages:hover{
    background-color: #EE9890;
    cursor: pointer;
}

.buttonPages:focus{
    background-color: #EE9890;
}

.buttonPages:not(:disabled):hover {
    background-color: var(--muted);
    color: var(--text-alt);
}
.containerShowCards{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    
}