.containerCard{
  position: relative;
  height: 550px;
  width: 600px;
}

.image{
  position: absolute;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: center;
  left: 10px;
  bottom: 50px;
  z-index: 10;
  box-shadow: -4px 0px 13px 0px rgba(0, 0, 0, 0.361);
-webkit-box-shadow: -4px 0px 13px 0px rgba(0, 0, 0, 0.361);
-moz-box-shadow: -4px 0px 13px 0px rgba(0, 0, 0, 0.361);
}


.title{
  position: absolute;
  top: 110px;
  left: 120px;
  z-index: 30;
  font-size: 30px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #d14d72a0;
}

.containerInfo{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px;
  height: 450px;
  width: 250px;
  right: 10px;
  bottom: 15px;
  background-color: #FBF4F5;
  z-index: 20;
  box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.361);
-webkit-box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.267);
-moz-box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.361);
}
.containerInfo::after{
  content: "";
  z-index: 40;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  background-image: url("../../assets/images/BeautyNails-ico.ico");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.description{
  text-align: left;
  max-height: 200px;
  margin-top: 10px;
  letter-spacing: 3px;
  line-height: 1.5;
}

.button{
  position: absolute;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #d14d72;
  background-color: transparent;
  bottom: 20px;
  right: 80px;
}
.button:hover{
  background-color: #d14d72;
  color: #FBF4F5;
}