.Container{
    width: 100%;
    min-height: 100vh;
    padding-top: 1rem;
    background-color: var(--background);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Title{
    margin: 20px;
    padding: 10px;
}
.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Slider{
    position:relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100vw;
}
.promoCard{
    background-color: var(--accent1);
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem 0rem; 
}