@import url("https://fonts.googleapis.com/css?family=Poppins");
.container input[type="text"] {
  display: flex;
  justify-content: start;
  margin-left: 0px;
  border: none;
  border-bottom: 2px solid var(--text-alt);
  width: 95%;
  height: 30px;
  background-color: #f5b7b156;
  border-radius: 5px;
}
.container input[type="number"] {
  display: flex;
  justify-content: start;
  margin-left: 0px;
  border: none;
  border-bottom: 2px solid var(--text-alt);
  width: 97%;
  height: 30px;
}
form label {
  color: var(--accent1);
  font-family: "Poppins";
}
form h1 {
  font-family: "Poppins";
}
