.Container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 60px;
  background-color: var(--background);
  /* background-color: transparent; */
  height: 100vh;
  /* z-index: 0; */
}
p {
  color: var(--text);
}

.imagenPrincipal {
  scale: 80%;
}
.EmbraceYourBeauty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12%;
  text-align: justify;
  width:fit-content;
  font-size: 70px;
}
.strong {
  display: flex;
  justify-content: flex-start;
}
.containerText {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width: fit-content;
}

.Login {
  background-color: var(--accent1);
  border: none;
  font-family: "Playfair Display", serif;
  font-size: large;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  transition: 200ms;
  color: var(--background);
  margin: 5px 0px;
}

.Login:hover {
  background: var(--gradient);
}
.Login:hover p {
  color: var(--text);
}
.Login p {
  color: var(--background);
}
.Login p::after {
  content: "\2192";
  opacity: 0;
  transition: opacity 0.5s ease;
}
.Login:hover p::after {
  content: " \2192";
  opacity: 1;
}

.beauty {
  display: flex;
  justify-content: flex-start;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.guest {
  background-color: transparent;
  color: var(--text);
  transition: 200ms;
  border: 0px;
  padding: 10px 35px 10px 35px;
  justify-content: center;
  font-size: large;
  transition: 400ms;
  cursor: pointer;
}
.guest:hover {
  background-color: var(--accent2);
  color: var(--text);
  border: 0px;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
  transition: 400ms;
}
.guest p::after {
  content: "\2192";
  opacity: 0;
  transition: opacity 0.5s ease;
}

.guest:hover p::after {
  content: " \2192";
  opacity: 1;
}
.containerButton {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%;
}
.containerButton  > button{
  font-size: 1rem;
  width:fit-content
}
@media (max-width: 1340px) {
  .Container {
    transition: 0.2s;
  }
  .EmbraceYourBeauty {
    font-size: 43px;
    transition: 0.2s;
  }
  .beauty {
    transition: 0.2s;
  }
  .imagenPrincipal {
    width: 50%;
    transition: 0.2s;
  }
 
}

@media (max-width: 1100px) {
  .Container {
    transition: 0.2s;
  }
  .EmbraceYourBeauty {
    font-size: 45px;
    transition: 0.2s;
  }
  .beauty {
    transition: 0.2s;
  }
  .imagenPrincipal {
    width: 50%;
    transition: 0.2s;
  }

}
@media (max-width: 690px) {
  .Container {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
  }
  .EmbraceYourBeauty {
    margin-top: 2rem;
    font-size: 30px;
    transition: 0.2s;
  }
  .beauty {
    font-size: 45px;
    transition: 0.2s;
  }
  .imagenPrincipal {
    width: 70%;
    transition: 0.2s;
  }
 
}
@media (max-width: 540px) {
  .Container {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
  }
  .EmbraceYourBeauty {
    font-size: 30px;
    transition: 0.2s;
  }
  .beauty {
    font-size: 45px;
    transition: 0.2s;
  }
  .imagenPrincipal {
    width: 70%;
    transition: 0.2s;
  }
}
@media (max-width: 460px) {
  .Container {
    display: flex;
    transition: 0.2s;
  }
  .EmbraceYourBeauty {
    font-size: 24px;
    transition: 0.2s;
  }
  .beauty {
    font-size: 30px;
    transition: 0.2s;
  }
  .imagenPrincipal {
    width: 60%;
    transition: 0.2s;
  }
}

@media (min-width: 3320px) {
  .Container {
    /* display: flex; */
    transition: 0.2s;
  }
  .EmbraceYourBeauty {
    font-size: 240px;
    transition: 0.2s;
  }
  .beauty {
    font-size: 250px;
    transition: 0.2s;
  }
  .imagenPrincipal {
    width: 60%;
    transition: 0.2s;
  }
  
  .Login {
    font-size: 80px;
  }
  .guest {
    font-size: 80px;
  }
}
@media (max-width: 400px) {
  .container{
    justify-content: center;
  }
  .containerButton > button {
    font-size: 1rem;
    width: fit-content;
  }
}