.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 60px;
  background-color: var(--background);
  height: 100vh;
}
.Container img {
  scale: 90%;
  margin-right: 5%;
}
.EmbraceYourBeauty {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 12%;
}

.Login {
  background-color: var(--accent1);
  border: 0px;
  font-family: "Playfair Display", serif;
  font-size: large;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  transition: 200ms;
  color: var(--background);
}
.beauty {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.Login:hover {
  background: var(--gradient);
  color: var(--text);
}

.LoginForm span {
  font-size: medium;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: var(--text-alt);
}
.LoginForm p {
  font-size: small;
  font-weight: bold;
}
.overlay {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.LoginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: var(--background);
  transition: 200ms;
  width: 20%;
  height: fit-content;
  padding: 52px 21px 52px 21px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.Inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.LoginForm input {
  margin-top: 2%;
  height: 2rem;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  border: 2px solid var(--text-alt);
  border-radius: 10px;
}
.BotonLogin {
  margin-bottom: 5%;
  width: 50%;
  align-self: center;
  background-color: var(--accent1);
  border: 0px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  transition: 200ms;
  color: var(--text);
}
.BotonLogin:disabled {
  background-color: var(--muted);
  color: var(--text);
}
.BotonLogin:hover {
  background: linear-gradient(90deg, var(--accent1) 0%, var(--accent2) 100%);
  color: #fef2f4;
}
.LoginForm p {
  align-self: flex-start;
  margin-bottom: 2%;
}
.LoginForm p:nth-child(6) {
  color: var(--accent1);
}
