.Container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 60px;
  background-color: var(--background);
  /* background-color: transparent; */
  height: 100vh;
  /* z-index: 0; */
}

.loginContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 60px;
  /* background-color: var(--background); */
  background-color: transparent;

  height: 100vh;
  /* z-index: 0; */
}
.landingContainer {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 60px;
  background-color: var(--background);
  height: 100vh;
}
.Container img {
  scale: 90%;
  margin-right: 5%;
}
.EmbraceYourBeauty {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 12%;
}

.Login {
  background-color: var(--accent1);
  border: none;
  font-family: "Playfair Display", serif;
  font-size: large;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  transition: 200ms;
  color: var(--background);
  margin: 5px 0px;
}
.beauty {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.Login:hover {
  background: var(--gradient);
}
.Login:hover p{
  color: var(--text);
}
.Login p {
  color: var(--background);
}
.Login p::after{
  content: '\2192';
  opacity: 0;
  transition: opacity 0.5s ease;
}
.Login:hover p::after{
  content: ' \2192'; 
  opacity: 1;
}
.LoginForm span {
  font-size: medium;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: var(--text-alt);
}
.LoginForm p {
  font-size: small;
  font-weight: bold;
}
.overlay {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.LoginForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  transition: 200ms;
  width: 20%;
  height: fit-content;
  padding: 52px 21px 52px 21px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 999;
}
.Inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.LoginForm input {
  margin-top: 2%;
  height: 2rem;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  border: 2px solid var(--text-alt);
  border-radius: 10px;
}
.BotonLogin {
  margin-bottom: 5%;
  width: 50%;
  align-self: center;
  background-color: var(--accent1);
  border: 0px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  transition: 200ms;
  color: var(--text);
}
.BotonLogin:disabled {
  background-color: var(--muted);
  color: var(--text);
}

.BotonLogin:hover:disabled {
  background-color: var(--muted);
  color: var(--text);
}

.BotonLogin:not(:disabled):hover {
  background: linear-gradient(90deg, var(--accent1) 0%, var(--accent2) 100%);
  color: #fef2f4;
}
.LoginForm p {
  align-self: flex-start;
  margin-bottom: 2%;
}
.LoginForm p:nth-child(6) {
  color: var(--accent1);
}

.closeButton {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  color: var(--text-alt);
  font-size: large;
  cursor: pointer;
}
.guest{
  background-color: transparent;
  color: var(--text);
  transition:200ms;
  border:0px;
  padding: 10px 35px 10px 35px;
  justify-content: center;
  font-size: large;
  transition: 400ms;
}
.guest:hover{
  background-color: var(--accent2);
  color:var(--text);
  border:0px;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
  transition: 400ms;

}
.guest p::after {
  content: '\2192';
  opacity: 0;
  transition: opacity 0.5s ease;
}

.guest:hover p::after {
  content: ' \2192'; 
  opacity: 1;
}
