
.admin_container{
  width:100%
}


.rating{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  flex-wrap: wrap;
  width:100%;
  height:auto;
  margin-top:1.5rem;
  margin-left:0.5rem;
  gap:1.5rem;
}
.ratingDetails{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}
.statics{
position:relative;
left:-1rem;
background:transparent;
border-radius: 15px;
}

.footeradmin{
  margin-top:1rem
}