.loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: spin 1.2s
        linear infinite;
}

.loader::after,
.loader::before{
    content: "";
    position: absolute;
    border-radius: inherit;
}

.loader::before{
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(0deg,
        #d14d72 0%,
        #f5b7b1 100%);
}
.loader::after{
    width: 85%;
    height: 85%;
    background-color: #FBF4F5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}